<footer class="footer-area">

  <div class="container1">
    <div class="title_part">
      <div class="icon">
        <mat-icon>mail</mat-icon>
      </div>
      <div>
        <p class="title">Subscribe To The Newsletter</p>
      </div>
    </div>

    <div class="search_bar">

        <div class="search_bar_div">

          <div class="search_input">
              <input name="email" type="email" value="" placeholder="Your email address">
          </div>

          <div class="send_button">
           <div>
            <button type="submit">Send</button>
           </div>
          </div>
        </div>
    </div>
  </div>




  <div class="logo_title_container">
    <div class="logoTitle">
      <div class="logo">
        <img src="../../../assets/demo-store-logo.jpg" alt="" />
      </div>
      <div class="title">
        There are many variations of passages of dont look even slightly
        believable. Various versions have evolved ation of have evolved have
        passages.
      </div>
    </div>
    <div class="sub_icon">
      <div class="icons">
        <div class="icon">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="icon">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="icon">
          <i class="fa-brands fa-pinterest-p"></i>
        </div>
        <div class="icon">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="icon">
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>


  
  <div class="container">
    <div class="sub_container1">
      <div class="details">
        <i class="fa-solid fa-location-dot"></i>
        <p>
          Demo Store 42 Puffin street 12345 Puffinville France United States
        </p>
      </div>
      <br />
      <div class="details">
        <i class="fa-solid fa-phone"></i>
        <p>0123-456-789</p>
      </div>
      <br />
      <div class="details">
        <i class="fa-regular fa-envelope"></i>
        <p>Sales@yourcompany.com</p>
      </div>
    </div>

    <div class="sub_container2">
      <h3>products</h3>
      <p><i class="fa-solid fa-arrow-right"></i> Prices drop</p>
      <p><i class="fa-solid fa-arrow-right"></i> New products</p>
      <p><i class="fa-solid fa-arrow-right"></i> Best sales</p>
      <p><i class="fa-solid fa-arrow-right"></i> Contact us</p>
      <p><i class="fa-solid fa-arrow-right"></i> Sitemap</p>
      <p><i class="fa-solid fa-arrow-right"></i> Prices</p>
    </div>

    <div class="sub_container2">
      <h3>OUR COMPANY</h3>
      <p><i class="fa-solid fa-arrow-right"></i> Delivery</p>
      <p><i class="fa-solid fa-arrow-right"></i> Legal Notice</p>
      <p><i class="fa-solid fa-arrow-right"></i> Secure payment</p>
      <p><i class="fa-solid fa-arrow-right"></i> Contact us</p>
      <p><i class="fa-solid fa-arrow-right"></i> Sitemap</p>
    </div>

    <div class="sub_container2">
      <h3>products</h3>
      <p><i class="fa-solid fa-arrow-right"></i> Prices drop</p>
      <p><i class="fa-solid fa-arrow-right"></i> New products</p>
      <p><i class="fa-solid fa-arrow-right"></i> Best sales</p>
      <p><i class="fa-solid fa-arrow-right"></i> Stores</p>
      <p><i class="fa-solid fa-arrow-right"></i> Login</p>
    </div>
  </div>

  <div class="sub_footer">
    <div id="links_block_footer" class="block links">
      <ul id="tm_footerlink" class="block_content">
        <li>
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?controller=prices-drop"
            title="prices drop"
            >prices drop</a
          >
        </li>

        <li>
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?controller=new-products"
            title="new products"
            >new products</a
          >
        </li>

        <li>
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?controller=best-sales"
            title="best sales"
            >best sales</a
          >
        </li>

        <li>
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?controller=contact"
            title="contact us"
            >contact us</a
          >
        </li>

        <li>
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?controller=sitemap"
            title="sitemap"
            >sitemap</a
          >
        </li>

        <li>
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?id_cms=4&amp;controller=cms&amp;id_lang=1"
            title="about us"
            >about us</a
          >
        </li>

        <li class="login">
          <a
            href="https://prestashop.templatemela.com/PRS08/PRS080198/PRS4/index.php?controller=my-account"
            title="login"
            >login</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="footer_copyright">
    <div class="footer_container">
        <p class="copyright">© 2022 - Ecommerce software by PrestaShop™</p>
    </div>

    <div class="payment">
      <img alt="payment" src="../../../assets/payment.png">
    </div>
  </div>
</footer>


